
      <div class="bs-docs-section">
        <div class="row">
          <div class="col-lg-12">
<legend>In mathematics, the Fibonacci numbers or Fibonacci sequence are the numbers
                  	 in the following integer sequence:<br /> 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597 ...</legend>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <div class="well bs-component cal-height">
              <form class="form-horizontal">
                <fieldset>
                  
				<%= form_tag root_path, :multipart => true, method: :post, :html => { :class => 'form-horizontal' } do %>
                  <div class="form-group">
                    <label for="textArea" class="col-lg-1 control-label">The</label>
                    <div class="col-lg-5">
      				  <%= text_field_tag :number, nil, class: 'form-control'   %>
                    </div>
                     <label for="textArea" class="col-lg-6 control-label">term of the Fibonacci sequence is:</label>
                  </div>
                <div class="col-lg-3 col-lg-offset-9">  
				<%= submit_tag "COMPUTE", :class => 'btn btn-danger' %>
				</div>                   
				<% end %>                                                     
                </fieldset>
              </form>
            </div>
          </div>
          <div class="col-lg-6">
          <div class="well bs-component ov cal-height">	
			<%= @result %>        
          </div>
          </div>			          

        </div>


        <div class="row">
          <div class="col-lg-6">
            <div class="well bs-component cal-height">
              <form class="form-horizontal">
                <fieldset>
                  
				<%= form_tag root_path, :multipart => true, method: :post, :html => { :class => 'form-horizontal' } do %>
                  <div class="form-group">
                    <label for="textArea" class="col-lg-1 control-label">The</label>
                    <div class="col-lg-5">
      				  <%= text_field_tag :number, nil, class: 'form-control'   %>
                    </div>
                     <label for="textArea" class="col-lg-6 control-label">term of the Fibonacci sequence is:</label>
                  </div>
                <div class="col-lg-3 col-lg-offset-9">  
				<%= submit_tag "COMPUTE", :class => 'btn btn-danger' %>
				</div>                   
				<% end %>                                                     
                </fieldset>
              </form>
            </div>
          </div>
          <div class="col-lg-6">
          <div class="well bs-component ov cal-height">	
			<%= @result %>        
          </div>
          </div>			          

        </div>
        
      </div>
